<%= nested_form_for @movie,:html => { :multipart => true } do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <%= f.label :trailer_url %><br>
    <%= f.text_area :trailer_url, cols: "130", rows: "5" %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :featured %><br>
    <%= f.check_box :featured %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br>
    <%= f.date_select :release_date %>
  </div>
  <div class="field">
    <%= f.fields_for :attachments do |attachment| %>
      <% if attachment.object.new_record? %>
        <%= attachment.file_field :image %>
        <%= attachment.link_to_remove "Remove item" %>
      <% else %>
        <% @movie.attachments.each do |attachment_poster| %>
          <%= image_tag attachment_poster.image.url(:thumb) %>
          <%= attachment_poster.hidden_field :_destroy %>
          <%= attachment_poster.link_to_remove "X" %>
          <% end %>
      <% end %>
    <% end %>
    <%= f.link_to_add "Add item", :attachments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
