<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw(@movie.description) %>
</p>

<p>
  <strong>Trailer url:</strong>
  <%= raw(@movie.trailer_url) %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @movie.featured %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @movie.approved %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
